<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="todo">
        Edit Todo
        </span>
      <span *ngIf="!todo">
        Add Todo
        </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelEdit()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Notes</ion-label>
      <ion-input type="text" [(ngModel)]="notes"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Completed</ion-label>
      <ion-checkbox [(ngModel)]="completed"></ion-checkbox>
    </ion-item>
  </ion-list>

  <button ion-button (click)="saveTodo()">Save</button>
  <button ion-button *ngIf="todo" (click)="deleteTodo()">Delete</button>
</ion-content>
