<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Todo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <button item-right ion-button clear large icon-only (click)="addTodo(todoName.value); todoName.value=''" color="secondary">
          <ion-icon name="add"></ion-icon>
      </button>
      <ion-input type="text" placeholder="What do you need to do?" #todoName>
      </ion-input>
    </ion-item>
    <ion-item *ngFor="let todo of todos">
      <ion-checkbox [(ngModel)]="todo.completed"></ion-checkbox>
      <ion-label [style.text-decoration]="todo.completed ? 'line-through' : 'none'">{{todo.name}}
        <small *ngIf="todo.notes"><br />{{todo.notes}}</small>
      </ion-label>
      <button item-right ion-button clear large icon-only (click)="editTodo(todo.id)" color="secondary">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-label color="light" text-center>
      <ion-badge *ngIf="todos">{{todos.length}}</ion-badge> total todos
    </ion-label>
  </ion-toolbar>
</ion-footer>
